{% extends 'auth/auth.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block auth_form %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for label, messages in app.flashes(['success', 'info']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form name="login_form" method="post">
        <div class="form-group">
            <label for="login_form_email" class="required">Correo electrónico</label>
            <input type="email" id="login_form_email" name="login_form[email]" value="{{ last_email }}" class="form-control" required autofocus>
        </div>

        <div class="form-group">
            <label for="login_form_password" class="required">Contraseña</label>
            <input type="password" id="login_form_password" name="login_form[password]" class="form-control" required>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="login_form_remember_me" name="login_form[_remember_me]">
                <label class="custom-control-label" for="login_form_remember_me">Recuérdame</label>
            </div>
        </div>

        <input type="hidden" name="login_form[_token]" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-block btn-primary" type="submit">¡Iniciar Sesión!</button>
    </form>
{% endblock %}

{% block auth_switch %}
    <p>
        ¿Aun no tienes una cuenta?
        <a href="{{ path('auth_register') }}">Registrarse</a>
    </p>

    <p>
        ¿No te acuerdas de tu contraseña?
        <a href="{{ path('auth_reset_password') }}">Recuperar mi contraseña</a>
    </p>
{% endblock %}

